/* 全局隐藏滚动条 */
html,
body {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.layout {
  min-height: 100vh;
  background-color: #0f172a;
  box-sizing: border-box;
  /* 隐藏滚动条但保留滚动功能 */
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.layout-main {
  width: 100%;
  padding:  2rem;
  min-height: calc(100vh - 80px);
}
